/*
 * @info
 *   Skin used by the "Select", "Search", "Type", "Bkground" and "Help" sidebar links.
 *
 * @copyright
 *   © 2016 Eezy Inc.
 */

.button {
  width: 55px;
  height: 55px;
  display: block;
}
.button[disabled] {
  pointer-events: none;
}
.button[hidden] {
  display: none;
}

.button > main {
  padding: 0 14px;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.button:hover main {
  cursor: pointer;
  background: #464646;
}
.button[pressed] > main {
  background: #515151;
}
.button:active > main {
  -webkit-filter: brightness(125%);
}
.button[pressed]:active > main {
  -webkit-filter: brightness(110%);
}

.button label {
  display: none;
  overflow: hidden;
  pointer-events: none;
  color: #333;
  font: 700 11px/25px 'proxima-nova', 'ProximaNova-Bold', 'Helvetica Neue',
    'Helvetica', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 8px;
  position: absolute;
  height: 25px;
  left: 63px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.button label::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 5px 4.5px 0;
  border-color: transparent rgba(255, 255, 255, 0.85) transparent transparent;
  position: absolute;
  left: -4.5px;
  top: 50%;
  margin-top: -4.5px;
}
.button[disabled] label {
  opacity: 0.5;
}
.button:hover > main label {
}

#icon {
  display: block;
  margin-bottom: 0;
  fill: #ccc;
  stroke: #ccc;
  pointer-events: none;
}

.button[pressed] main #icon,
.button:hover main #icon {
  fill: #fff;
  stroke: #fff;
}
.button:hover main label {
  color: #333;
  display: block;
  overflow: visible;
}
.button[pressed] main label {
  color: #333;
}
.help {
  margin-top: auto;
}
