/*
 * @info
 *   Skin used e.g. by the "Download" menubar button (the green button in the top right corner).
 *
 * @copyright
 *   © 2016 Eezy Inc.
 */

.button {
  height: 45px;
  display: block;
  color: white;
  border-radius: 4px;
  background: var(--primary-color);
  --primary-color: #a4d71e;
  --font-size: 18px;
}

.button([disabled]) {
  pointer-events: none;
  opacity: 0.5;
}

.button([hidden]) {
  display: none;
}

.button(:hover) {
  cursor: pointer;
  -webkit-filter: brightness(110%);
}

.button([pressed]) {
  -webkit-filter: brightness(125%);
}

.button > main {
  padding: 0 18px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button(:acitve) main {
  opacity: 0.2;
}

.label {
  overflow: hidden;
  pointer-events: none;
  color: inherit;
  font-family: 'proxima-nova', 'ProximaNova-Regular', 'Helvetica Neue',
    'Helvetica', sans-serif;
  font-size: var(--font-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.button([disabled]) .label {
  opacity: 0.5;
}

.button #icon {
  display: none;
}
