
/*
 * @info
 *   Skin used by the "Select", "Search", "Type", "Bkground" and "Help" sidebar links.
 *
 * @copyright
 *   © 2016 Eezy Inc.
 */

:host {
  width: 55px;
  height: 55px;
  display: block;
}
:host([disabled]) {
  pointer-events: none;
}
:host([hidden]) {
  display: none;
}

main {
  padding: 0 14px;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
:host(:hover) main {
  cursor: pointer;
  background: #464646;
}
:host([pressed]) main {
  background: #515151;
}
:host(:active) main {
  -webkit-filter: brightness(125%);
}
:host([pressed]:active) main {
  -webkit-filter: brightness(110%);
}

label {
  display: none;
  overflow: hidden;
  pointer-events: none;
  color: #333;
  font: 700 11px/25px "proxima-nova", "ProximaNova-Bold", "Helvetica Neue", "Helvetica", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 8px;
  position: absolute;
  height: 25px;
  left: 63px;
  border-radius: 2px;
  background: rgba(255,255,255,.85);
  text-align: center;
}
label::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 5px 4.5px 0;
  border-color: transparent rgba(255,255,255,.85) transparent transparent;
  position: absolute;
  left: -4.5px;
  top: 50%;
  margin-top: -4.5px;
}
:host([disabled]) label {
  opacity: 0.5;
}
:host(:hover) main label {
}

#icon {
  display: block;
  margin-bottom: 0;
  fill: #ccc;
  stroke: #ccc;
  pointer-events: none;
}

:host([pressed]) main #icon,
:host(:hover) main #icon {
  fill: #fff;
  stroke: #fff;
}
:host(:hover) main label {
  color: #333;
  display: block;
  overflow: visible;
}
:host([pressed]) main label {
  color: #333;
}