/*
 * @copyright
 *   © 2016 Eezy Inc.
 *   © 2012-2016 Jarosław Foksa
 */

.button {
  width: 100px;
  height: 34px;
  display: block;
  --icon-size: 26px;
}
.button([disabled]) {
  pointer-events: none;
}
.button([hidden]) {
  display: none;
}

main {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 8px;
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.85);
  font-family: inherit;
  font-size: 13px;
  border-radius: 0;
  border: 1px solid #3a3a3a;
  background: #4b4b4b;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.26) inset,
    0px 1px 0px 0px rgba(255, 255, 255, 0.11);
}
.button([pressed]) main {
  background: #ea8917;
  border: none;
}
.button(:active) main {
  -webkit-filter: brightness(125%);
}
.button(:hover) main {
  -webkit-filter: brightness(110%);
}
.button([pressed]:active) main {
  -webkit-filter: brightness(110%);
}

#icon {
  display: none;
}
.button([icon]) #icon {
  display: block;
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
  fill: #c6c8cc;
}
.button([disabled]) #icon {
  opacity: 0.6;
}

.label {
  overflow: hidden;
  color: #ffffff;
  opacity: 0.85;
  font-family: 'proxima-nova', 'ProximaNova-Semibold', 'Helvetica Neue',
    'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-feature-settings: var(--heading-font-features);
}
.button([pressed]) label {
  opacity: 1;
}
.button([icon]) label:not(:empty) {
  margin-left: 7px;
}

.button([disabled]) label {
  opacity: 0.5;
}
