
/*
 * @copyright
 *   © 2014-2016 Jarosław Foksa
 */

:host {
  display: none;
  contain: size layout style paint;
}
:host(:focus) {
  outline: none;
}
:host([enabled]) {
  display: initial;
}

#caret-line {
  stroke-width: 3;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
  stroke: gray;
}
:host(:focus) #caret-line {
  stroke: blue;
}

#selection-rects {
  opacity: 0.3;
}
#selection-rects rect {
  fill: rgb(179, 179, 179);
  pointer-events: none;
}
:host(:focus) #selection-rects rect {
  fill: rgb(0, 157, 255);
}
