/*
 * @info
 *   Menubar skin (the horizontal bar shown at the top of the editor, contains buttons suchas "File", "Undo",
 *  "Download", etc.
 *
 * @copyright
 *   © 2016 Eezy Inc.
 */

.menubar {
  outline: none;
  display: block;
  width: 100%;
}

.menubar > main {
  background: #ea8917;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  -webkit-user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: black;
  opacity: 0.1;
}

.overlay[hidden] {
  display: none;
}

.logo {
  display: block;
  margin-top: 4px;
  margin-left: 5px;
  color: white;
}

.logo img {
  width: 122px;
}

.primary {
  display: flex;
  margin-left: 14px;
}

.primary .button {
  width: auto;
  --font-size: 16px;
  --primary-color: #fbfbbc;
}

.primary .button:hover {
  --primary-color: white;
}

.secondary {
  display: flex;
  margin-left: auto;
  align-items: center;
}

:global #download-button {
  margin-right: 8px;
  color: #ea8917;
  --primary-color: #fcef95;
  --font-size: 16px;
  height: 40px;
}

:global #download-button:hover {
  background: #fef8ad;
  -webkit-filter: none;
}

:global #exit-button {
  --font-size: 16px;
  height: 40px;
}

:global #download-button label,
:global #exit-button label {
  margin-bottom: 0;
}
