/*
 * @copyright
 *   © 2016 Eezy Inc.
 */

.sidebar {
  min-width: 328px;
  flex: 0;
  border-top: 1px solid #2b2b2b;
}

.sidebar[collapsed] {
  min-width: 74px;
}

.sidebar > main {
  background: #393939;
  color: #ccc;
  height: 100%;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  -webkit-user-select: none;
}

.buttons {
  display: flex;
  flex-flow: column;
  flex: 0;
  align-items: center;
  height: 100%;
  width: 55px;
  z-index: 100;
  box-sizing: border-box;
}

.buttons .button {
  border-bottom: 1px solid #515151;
}

.buttons :global #help-button {
  margin-top: auto;
}

.sidebar[templatespanelhidden] #buttons #templates-button {
  display: none;
}

#panels {
  background: #515151;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar[animating] #panels * {
  display: none;
}
